.todos_contianer{
    display: flex;
    padding: 10px;
    height: calc(100vh - 84px);
.list-continer{
width: 25%;
gap: 10px;
    }
    .todo-continer{
          width: 75%;  
    }
    .add-new-todo-btn{
            position: fixed;
            bottom: 30px;;
    }
}
.add-new-todo-btn{
      position: fixed;
      bottom: 30px;
      right: 30px;;
}
.list-continer{
    width: 25%;
    gap: 10px;
            }
